:root {
  --background-color: white;
  --text-color: black;
  --tree-background-color: #f5f5f5;
  --tree-node-background-color: white;
  --tree-node-hover-background-color: #e0f7fa;
  --tree-node-highlighted-background-color: #b2ebf2;
  --tree-border-color: #ddd;
  --button-color: #bb08d3;
}

.app.dark {
  --background-color: black;
  --text-color: white;
  --tree-background-color: #333;
  --tree-node-background-color: #444;
  --tree-node-hover-background-color: #555;
  --tree-node-highlighted-background-color: #666;
  --tree-border-color: #888;
  --button-color: #ffffff;
}

.app.light {
  --background-color: white;
  --text-color: black;
  --tree-background-color: #f5f5f5;
  --tree-node-background-color: white;
  --tree-node-hover-background-color: #e0f7fa;
  --tree-node-highlighted-background-color: #b2ebf2;
  --tree-border-color: #ddd;
  --button-color: #be02bed5;
}

.app {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  color: var(--button-color);
}